In [2]:
#Problema 3.1 
SUMPARr=0
SUMAIMP=0
CUENTAPAR=0
num=0
i=1
while i<=270:
    num = i #se le da el valor de i a num porque sino num siempre sera 0 porque lo declare asi 
    if num>0:
        if  num%2!=0:
            SUMPAR=+CUENTAPAR
            CUENTAPAR= CUENTAPAR + 1
        else: SUMAIMP=+ num
    i=i+1
promedioPar = SUMPAR / CUENTAPAR
print(f"Este es el promedio de los pares {promedioPar} y esta es la suma de los impares {SUMAIMP}")

Este es el promedio de los pares 0.9925925925925926 y esta es la suma de los impares 270

In [ ]:
# Problema 3.2
band='T'
i=2
SUMSER=0
while i<=1800:
    SUMSER=+i
    print(i)
    if band=='T':
        band='F'
        i=i+3
    else:
        band='T'
        i=i+2
print(f"La suma es {SUMSER}")

In [6]:
# Problema 3.3
n=int(input("Dame un numero entero: "))
band='T'
serie = 0
i=1
while i<=n:
    if band=='T':
        serie=serie+(1/i)
        band='F'
    else: 
        serie=serie-(1/i)
        band='T'
    i=i+1
print(serie)

Dame un numero entero: 10
0.6456349206349207

In [8]:
# Problema 3.4
nom=0
nominas=[855,760.32,1100.2,614,2600,817.5,1280.3,687,-1]
i=0
while nominas[i] > -1:
    if nominas[i] < 1000:
        nsue=round(nominas[i]*1.15,2)
    else:
        nsue=round(nominas[i]*1.12,2)
    nom=round(nom+nsue,2)
    i=i+1
    print("El nuevo sueldo del trabajador es", nsue)
print("La nomina es ", nom)

El nuevo sueldo del trabajador es 983.25
El nuevo sueldo del trabajador es 874.37
El nuevo sueldo del trabajador es 1232.22
El nuevo sueldo del trabajador es 706.1
El nuevo sueldo del trabajador es 2912.0
El nuevo sueldo del trabajador es 940.12
El nuevo sueldo del trabajador es 1433.94
El nuevo sueldo del trabajador es 790.05
La nomina es  9872.05